@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #090217;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090217;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #1c003e; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background: #6200ff92; /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #410061; /* Color de la barra de desplazamiento al pasar el mouse */
}

/* Para Firefox */
.scrollable {
  scrollbar-width: thin; /* Grosor de la barra de desplazamiento */
  scrollbar-color: #6200ff92 #1c003e; /* Color del thumb y el track */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
